<h3 align="center">Log In</h3>
<h4 align="center">
    <%= form_for @user, url: '/signin' do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email%>
        <div class="requirements">
      Must be a valid email address.
        </div>
    </div><br><br>
        <%= f.label :password %>
        <%= f.password_field :password%><br><br>
        <%= f.submit 'Sign In' %>
    </h4>
    <% end %>
    <br><br>
<h3 align="center">
    <strong>First time here? Create an account!</strong>
</h3>
<h4 align="center">
    <%= form_for @user do |f| %>
        <%= f.hidden_field :id %>
        <%= f.label :name %>
        <%= f.text_field :name %><br><br>
        <%= f.label :email %>
        <%= f.email_field :email %><br><br>
        <%= f.label :password %>
        <%= f.password_field :password %><br><br>
        <%= f.submit 'Create An Account' %>
    <% end %>   
</h4>
<p align="center">
    <%= button_to "Log in with Google", '/auth/google_oauth2'%>
</p>