<br><h3 align="center"><strong>First time here? Create an account!</strong></h3>
<h4 align="center">
<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit 'Create An Accoount' %>
    
<% end %></h4>