<div style="width= 40%; float: right" >
<p><%=@user.name%></p>
!<--<p><%=@user.appointments%>  </p>-->
!<--<p><%=@user.services%></p>-->
!<--<p><%=@user.stylists%></p>-->
!<--<p> Total: <%=@user>price%></p>-->
</div>
