
<p> Here are all the appointments </p><br>
<% @appointments.each do |appointment| %>
<%= check_box("delete", appointment.id, {checked: false}) %>
<%= appointment.time.strftime("%I:%M %p") %>
<%= appointment.date.strftime("%A, %b %d, %Y") %>
<%= appointment.service.name%><br>
<% end %><br>
<%= submit_tag "delete" %>
<%= submit_tag "edit" %>
