<div  align="center"><br> 
<h2> Schedule An Appointment!</h2><br>
<body> <%= form_for @appointment do |f| %>
    <%= f.label "Date"%>
    <%= f.date_field :date, min: Date.today %>
    <br><br>
    <%= f.label :time%>
    <%= f.time_field :time %>

    <h3>Choose Your Service!</h3>

    <%=f.collection_select(:service_id, Service.all, :id, :name, prompt: "Please select your service.")%>

    <h3>Choose Your Stylist!</h3>

    <%=f.collection_select(:stylist_id, Stylist.all, :id, :name, prompt: "Please select your stylist.")%>
    
    <br><br>
    <%= f.submit 'Set Appointment!'%>
    
<% end %><br><br>

</body>
</div>