
<div  align="center"><br><br><br><br><br>
<h2> Schedule An Appointment!</h2><br>

<body> <%= form_for @appointment do |f| %>
    <%= f.label :date%>
    <%= f.date_field :date %>
    <br><br>

    <%= f.label :time%>
    <%= f.time_field :time %>

    <h3>Choose Your Service!</h3><br>

    <%=f.collection_select(:service_id, Service.all, :id, :name, prompt: "Please select your service.")%>
        

    <br><br><br>
    <%= f.submit 'Set Appointment!'%>
    
<% end %><br><br>

</body>
</div>