<!DOCTYPE html>
<html>
  <head>
    <title>SalonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%if session[:user_id]%>
    <div align="right">
    <nav class="navbar navbar-light bg-light">
   
    <a class="navbar-brand" href="/users">Home</a>
    <a class="navbar-brand" href="/logout">Log Out</a>
    <a class="navbar-brand" href="/signin">Contact Us</a>
    <a class="navbar-brand" href="/signin">FAQ's</a>
    <%end%>
    <h1 align="center"><i style="color: #ba495a"> Ruby's Salon </i></h1>
  </style>
</nav>

</div>
  </head>
  
  <body style="background-color: #f4ebf5">

</body>


    <%= yield %>

  </body>
</html>
