<!DOCTYPE html>
<html>
  <head>
    <title>SalonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1 align="center"><i> Ruby's Salon </i></h1></style>
      <% if session[:user_id] %>
        <%= render 'layouts/navbar' %>
      <%end%>
  </head>

</body>


    <%= yield %>

  </body>
</html>
